TOKEN=YOUR_ACCOUNT_TOKEN
GUILD_ID=YOUR_GUILD_ID_HERE
VOICE_CHANNEL_ID=YOUR_VOICE_CHANNEL_ID_HERE
SEND_CHAT=ON
INTERVAL=11 * 60 * 60 * 1000 # Default is 11 hours
PLAYLIST=https://open.spotify.com/playlist/0lBaE5j1bT9nPPRDC4TUkP?si=0e480f60d141433c # Put your playlist here
SELFDEAF=false
SELFMUTE=false